body {
  margin: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  min-height: 150px;
  padding: 20px;
  text-align: center;
}

.preview-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.btn-default {
  background-color: #f0f0f0; /* 배경색 */
  color: #333; /* 글자색 */
  border-color: #ccc; /* 테두리색 */
}

.btn-default:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 */
  color: #333; /* 호버 시 글자색 */
  border-color: #bbb; /* 호버 시 테두리색 */
}
